altgraph==0.17
asgiref==3.4.1
astroid==2.5.2
atomicwrites==1.4.0
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
autopep8==1.5.7
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.2
captcha==0.3
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
configparser==5.0.2
constantly==15.1.0
cryptography==3.4.7
DateTime==4.3
debugpy==1.3.0
decorator==5.0.9
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.5
django-heroku==0.3.1
docutils==0.17.1
easyxlsx==0.3.11
et-xmlfile==1.1.0
filelock==3.0.12
flake8==3.9.2
Flask==2.0.0
Flask-SQLAlchemy==2.5.1
future==0.18.2
google-auth==1.32.1
greenlet==1.1.0
gunicorn==20.1.0
html5lib==1.1
httplib2==0.19.1
hyperlink==21.0.0
idna==2.10
imutils==0.5.4
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
JPype1==1.2.1
jupyter-client==6.1.12
jupyter-core==4.7.1
keyboard==0.13.5
lazy-object-proxy==1.6.0
loguru==0.5.3
lxml==4.6.3
mac==1.0.7
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
MouseInfo==0.1.3
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.25
mysqlclient==2.0.3
network==0.1
neuralnetwork==1.8
numpy==1.21.1
oauthlib==3.1.0
opencv-python==4.5.3.56
openpyxl==3.0.7
packaging==20.9
panda==0.3.1
pandas==1.3.1
parso==0.8.2
pefile==2021.5.13
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==2.0.2
pluggy==0.13.1
prettytable==2.1.0
prompt-toolkit==3.0.19
protobuf==3.17.1
psycopg2==2.9.1
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
PyGetWindow==0.0.9
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.7.4
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.27
pytesseract==0.3.7
pytest==6.2.4
python-dateutil==2.8.1
python-dotenv==0.18.0
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.25.1
requests-oauthlib==1.3.0
rfc3987==1.3.8
rsa==4.7.2
selenium==3.141.0
six==1.15.0
smartapi-python==1.2.6
soupsieve==2.2.1
SQLAlchemy==1.4.15
sqlparse==0.4.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tk==0.1.0
toml==0.10.2
torch==1.9.0
torchvision==0.10.0
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.6.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
whitenoise==5.3.0
win32-setctime==1.0.3
wrapt==1.12.1
XlsxWriter==1.4.3
xlwings==0.23.4
zope.interface==5.4.0
